
/*====公共类开始====*/
body,html{
    background: #fff;
    height: 100%;
    width: 100%;
}
body{
    font:14px/1.5 'Microsoft YaHei';
    letter-spacing: 2px;
    z-index: -10;

}
#wrap{
    overflow: hidden;
    z-index: -9;
}
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
    zoom:1; /* for IE6 IE7 */
}
.fll{
    float: left;
}
.flr{
    float: right;
}

.pos-r{
    position: relative;
}.pos-a{
    position: absolute;
}.pos-f{
    position: fixed;
}
.line-b{
    position: relative;

}
.line-b:after{
    position: absolute;
    bottom:-12px;
    content: '';
    display: block;
    width:100%;
    left:0;
    height:0px;
    background-color:#8B8B8B;
    transition: height 0.3s;
}
.line-b:hover:after{
    height:3px;
}
.line-b:before{
    content: '';
    left:0;
    display: block;
    position: absolute;
    bottom:-12px;
    width:100%;
    height:2px;
    background-color: #ccc;
}
.line-b i{
    left:0;
    display: block;
    position: absolute;
    bottom:-12px;
    width:0%;
    height:2px;
    background-color: #8B8B8B;

}
/*====公共类结束====*/
/*====顶部热点开始====*/
.header{
    width: 100%;
    z-index: 999;
}
.header .toolbar{
    position: static;
    height: 40px;
    background: #EFEFEF;

}
.header .toolbar .container{

    width: 1150px;
    margin:auto;
    position: relative;
    overflow: hidden;
    height: 40px;
}

.header .toolbar .container .navbar .navbar-brand{

    color: #68DEC3;

    line-height: 1;
    font-size: 13px;
    font-style: italic;
}
.header .toolbar .container .navbar .navbar-nav{
    position: absolute;
    top: 0;
    left: 80px;
    width: 360px;

}


.header .toolbar .container .navbar .navbar-nav li.nav-item a{
    height:40px;
    list-style:none;
    line-height: 40px;
    font-size: 13px;
    color: #4A7BFC;
    padding: 0;

}
.header .toolbar .container .navbar .navbar-nav li.nav-item a:hover{color:#0056C0;}

.header .toolbar .container .navbar-rig{
    position: absolute;
    right: 0;
}
.header .toolbar .container .navbar-rig li{
    display: inline-block;
    margin-top: 8px;
    border-right:1px solid #ddd;
    padding:0 10px;
}
.header .toolbar .container .navbar-rig li a{
    padding: 0 ;
    color: #666;
}
.header .toolbar .container .navbar-rig li a:hover{color:#000;}
.header .toolbar .container .navbar-rig li.last a svg{
    width: 25px;
    height: 15px;
    fill:#68DECB;
}
/*====顶部热点结束====*/
/*====头部导航开始====*/
.header .toolbar-bot{
    width: 100%;
    height: 85px;

}
.header .toolbar-bot .container{

    /*height: 85px;*/
}
/*给nav 添加背景   主要是JS操作*/
.header .toolbar-bot .nav-bg{
    z-index:-1;
    height:100%;
    width: 100%;
    background: #fff;
    transform-origin: bottom;
    transition: 0.5s;
    opacity:0;
    transform: rotateX(90deg);
}
.header .toolbar-bot .transform{
    opacity:1;
    transform: rotateX(0deg);

}
/*.header .toolbar-bot .container{*/
    /*height:100%;*/
    /*width: 100%;*/
    /*background: #fff;*/
/*}*/
.header .toolbar-bot .container .row .navbar{
    position: inherit;
}
.header .toolbar-bot .container .navbar  .navbar-brand svg{
    width: 120px;
    height: 33px;
    margin-bottom: 25px;

}

.header .toolbar-bot .container .navbar>ul>li.nav-till{
    display: inline-block;
    height: 85px;
    margin-top: -10px;
    margin-right: 35px;

}
.header .toolbar-bot .container .navbar>ul>li.nav-till>a.nav-link{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 0;
    color: #000;

}
.header .toolbar-bot .container .navbar>ul>li.nav-till>a.nav-link:after{
    content:'';
    width:100%;
    height:2px;
    background-color: #5E6ED6;
    position: absolute;
    bottom:27px;
    left:0;
    opacity: 0;
    transition:bottom 0.3s,opacity 0.1s;

}
.header .toolbar-bot .container .navbar ul li.nav-till>a.nav-link:hover:after{

    opacity: 1;

}
.header .toolbar-bot .container .navbar-rig{
    /*margin-left: 203px;*/
    height: 85px;

}
.header .toolbar-bot .container .navbar-rig li{
    display: inline-block;
    height: 100%;
    margin-left: 10px;
    margin-top: 30px;

}


.header .toolbar-bot .container .navbar-rig li a.nav-link{
    padding: 0;
}
.header .toolbar-bot .container .navbar-rig li a.list1{
    padding: 5px;
    width: 60px;
    height: 25px;
    line-height: 1;
    text-align: center;
    border-radius: 13px;
}
.header .toolbar-bot .container .navbar-rig li a span.list2{
    display: inline-block;
    width: 25px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}
/*=====顶部导航栏的菜单开始======*/

.header .toolbar-bot .container .navbar ul li .menu{
    width: 100%;
    left: 0;
    top: 85px;
    background: #2E3C72;
    transform-origin: top;  /*旋转中心*/
    transform: rotateX(90deg);
    transition: transform 0.5s,opacity 0.3s;
    opacity: 0;

}
.header .toolbar-bot .container .navbar ul li:hover .menu{
    opacity:1;
    transform: rotateX(0deg);
}
    /*.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul{*/
    /*border:1px solid red;*/
/*}*/
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li svg{
    height: 32px;
    line-height: 32px;
    width: 108px;
    fill:#fff;
    margin-top:20px;


}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size:14px;

}


.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till:hover{
    background: #25305B;
    height: 100%;

}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till p.menu1{
    margin-top: 5px;

}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till div.list{
    opacity:0;
    transition: 1s;
    font-size: 12px;
    margin-bottom: 10px;
}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till div.list p i{
     font-style: normal;
     margin-left: 5px;
     font-weight:bold;
}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till div.list p{
    margin-bottom: 0;
}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li a.till:hover div.list{
    opacity:1;
}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li.till1 a.till{
    width: 20%;
    /*text-align: left;*/
}

.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li.till1 a.till svg.till2{

    width: 64px;
    height: 21px;
    vertical-align: inherit;
}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li.till1 a.till span.menu2{
    display: inline-block;
    opacity:0;
    transition: 1s;
    padding: 10px;
}
.header .toolbar-bot .container .navbar ul li.nav-till .menu  .container ul li.till1 a.till:hover span.menu2{
    opacity: 1;
}
/*===========头部轮播===========*/
.banner{
    position: relative;
    height:90%;
    z-index: 0;


}
.banner .bg-video{
    position: absolute;
    height:100%;
    left:50%;
}
.banner .bg-video video{
    height:50%;
    position: absolute;
    /*height: 750px;*/
    min-height: 750px;
    bottom:0;
    margin-bottom:-150px;
    transform: translate(-50%,6%);
}
.banner .marker{
    position: relative;
    z-index:1;
    height:100%;
    padding-top:230px;

    

}
.banner .marker .container{
    padding:100px;
}
.banner .marker .content{
    position: absolute;
    top:38%;
    color:#555;
}
.banner .marker .content .wrap{
    overflow: hidden;
    height:45px;
    /*border: 1px solid red;*/
}
.banner .marker .content .wrap h1{
    font-size: 36px;
}
.banner .marker .content .wrap ul{
    position: relative;
    top:0;

}
.banner .marker .content .wrap ul li{

    height:45px;
}
.banner .marker .content .wrap ul li a{
    display: block;
    width: 100%;
    height:100%;
    padding-top: 5px;
}
.banner .marker .content .wrap ul li a img{

    height:38px;
}
.banner .marker .content p{
    margin-top: 10px;
    font-size: 18px;
}

.banner .marker .btn-group{
    margin-top:50px;
}
.banner .marker .btn-group .btn a{
    display: block;
    width:140px;
    height:43px;
    border-radius: 43px;
    line-height: 42px;
    vertical-align: middle;
}
.banner .marker .btn-group .btn a svg{
    height:19px;
    width:19px;
    vertical-align: middle;
    margin-right: 5px;

}
.banner .marker .btn-group .btn-left a svg{
    fill:#fff;
}
.banner .marker .btn-group .btn a:hover{
    text-decoration: none;
    box-shadow: 0 9px 30px -3px #848484;
}
.banner .marker .btn-group .btn-left a{
    background-color: #4A4A4A;
    color:#fff;
}

.banner .marker .btn-group .btn-right a{
    border: 1px solid #555;
    color:#555;

}

.banner .marker ul.tab{
    bottom:0px;
}
.banner .marker ul.tab li{
    margin-right: 75px;
}

.banner .marker ul.tab li a{
    color:#888;
    display: block;

}
.banner .marker ul.tab li a:hover{
    text-decoration: none;
}
/*============================视频弹窗=======================*/

.banner .video-wrap{
    position: fixed;

    display: none;
    width: 50px;
    height: 50px;
    background:#232B5C;
    left: 420px;
    /*left: 50%;*/
    top: 350px;
    border-radius: 50%;
    z-index: 999;

}
/*.banner .big{*/
    /*!*display: none;*!*/
    /*position: fixed;*/
    /*width: 200%;*/
    /*height: 200%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*background:#232B5C;*/
    /*border-radius: 0%;*/
/*}*/
.banner .video-wrap .container{
    overflow: hidden;
}
.banner .video-wrap .container .wrap{
    position: absolute;
    left: 1044px;
    top:350px;
    width: 100%;
    display: none;
    color: #fff;
}


.banner .video-wrap .container .wrap div ul li a{
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #151A37;
    margin-top: 10px;
    text-decoration: none;

}
.banner .video-wrap .container .wrap .zongyi{
    position: absolute;
    top: 0;
    left: 250px;

}
/*.banner .video-wrap .container content{*/
    /*width: 10%;*/
/*}*/
/*.banner .video-wrap .container content .close{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*color: #fff;*/
    /*background: #fff;*/

/*}*/

.banner .big .wrap .content{
    width:95%;
    left: -43px;
    top: -20px;
}
.banner .big .wrap .content .close{
    width:50px;
    height:50px;
    background-color: #191E41;
    /*background: #fff;*/
    left: 733px;
    top:0;
    line-height: 50px;
    text-align: center;
}
/*========运用系统==========*/
.system{
    height:100%;
}
.system .container-fluid{
    position: relative;
    height: 100%;
    margin-bottom: 0;
    top: 60px;
}
.system .container-fluid ul{
    background: #ffff;


}
.system .container-fluid ul li{
    height: 160px;
    margin:0 1px;
    background:linear-gradient(180deg,#EFEFEF,#fff)
}
.system .container-fluid ul li a{
    text-decoration: none;
    color: #555;
    transform:scale(1);
    transition: 0.2s;
}
.system .container-fluid ul li a svg{
    width: 163px;
    height: 40px;
    margin-top: 30px;
}
.system .container-fluid ul li a svg p{
    font-size: 12px;
}
.system .container-fluid ul li:hover svg{
    transform:scale(1.1);
}
.system .container-fluid ul li:hover p{
    transform:scale(1.2);
    color: #fff;
}
.system ul li:nth-child(1):hover{
    z-index:1;
    background-image:linear-gradient(45deg,#3E88D8,#2FBBFE);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li:nth-child(2):hover{
    z-index:1;
    background-image:linear-gradient(45deg,#24CEC9,#23E4E3);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li:nth-child(3):hover{
    z-index:1;
    background-image:linear-gradient(45deg,#6870C9,#7885E9);
    box-shadow:0 5px 35px -4px #3E88D8;
}
.system ul li:nth-child(4):hover{
    z-index:1;
    background-image:linear-gradient(135deg,#5857FF,#4EBBFF);
    box-shadow:0 5px 35px -4px #3E88D8;
}
/*======================价值选项卡===================*/
.worth{
    position: relative;
    /*top: -40px;*/
    z-index:-1;
    display: block;
    height: 480px;
    width: 100%;
    /*border:2px solid #9000C0;*/
    background: #fff;
}
.worth .canvas-wrap {
    width: 100%;
    height: 100%;
    top: 0;
    left:-15px;

}
.worth .container{
    margin:40px auto;


}
.worth .container .tab-rig{
    display: inline-block;
    border:none;
    margin-top: 80px;


}
.worth .container .tab-rig ul{
    border:none;
    margin-top: 15px;
    display: inline-block;

}

.worth .container .tab-rig ul li a{

    text-decoration: none;
    background:rgba(255,255,255,0);
    color: #555;
    border:none;
}
.worth .container .tab-rig > p{

    margin-top: 30px;
}
.worth .container .tab-rig p a.know{
    font-size: 16px;
    color: #29DBB3;
    margin-left: 30px;
}

.worth .container .tab-rig p a.add{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: #93E0F9;
    border-radius: 50%;
    background: #29DBB3;
    font-weight:bold;

}

.worth .container .tab-lef #home a{
    display: inline-block;

}
.worth .container .tab-lef #home a img{

    display: inline-block;
}
/*==============================<!--折叠项目/解决方案-->=======================*/
.card-container{
    margin: 100px 0;
}
.card-container .tab{
    padding:30px 0;
}
.card-container .tab .top h3{
    color:#444;
}
.card-container .tab .top span{
    line-height: 1.8;
    color:#999;
}
.card-container .tab .card-wrap{
    padding:30px 0;
}
.card-container .tab .card-wrap .card{
    border:none;
}
.card-container .tab .card-wrap .card .card-header{
    background-color: inherit;
    border-bottom: none;
    padding:15px 0;
}
.card-container .tab .card-wrap .card .card-header .btn{
    padding:0;
    color:#4a4a4a;
}
.card-container .tab .card-wrap .card .card-header  i{
    background-color: #efefef;
}
.card-container .tab .card-wrap .card .card-header :hover i{
    width:15%;
}
.card-container .tab .card-wrap .card .card-header .btn:hover{
    text-decoration: none;
}
.card-container .tab .card-wrap .card .card-header .btn:focus{
    color:#2a2a2a;
    font-size:1.02em;
    text-decoration: none;
}
.card-container .tab .card-wrap .card .card-body{
    padding:15px 0 15px;
    color:#222;
}
.card-container .tab .card-wrap .card .card-body{
    position: relative;
}
.card-container .tab .card-wrap .card .card-body .focus{
    color:#454545;
}
.card-container .tab .card-wrap .card .card-body .focus:before{
    position: absolute;
    content: '';
    width:0;
    height:1px;
    background-color: #26D5AD;
    transition:width 0.5s;
    bottom:0;
}
.card-container .tab .card-wrap .card .show .card-body .focus:before{
    width:50%;
}
.card-container .container .row .tab .more-wrap .add{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #93E0F9;
    border-radius: 50%;
    background: #29DBB3;
}


/*=========== Video++应用中心 =========*/
.application-center .center-top  h3{
    font-size: 24px;
}
.application-center .center-top p{
    color:#999;
    font-size: 12px;
    margin-top:15px
}
.application-center .center-top .more-wrap{
    margin: 35px 0;
}
.application-center .center-top .more-wrap a{
    margin:0 5px 0 15px;
}
.application-center .center-content .menu{
    margin-bottom: 40px;
}
.application-center .center-content .menu>p{
    width:60px;
    padding:35px 40px 0 0;
}
.application-center .center-top .container .more-wrap .add{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #93E0F9;
    border-radius: 50%;
    background: #29DBB3;
}

.application-center .center-content .menu ul li{
    padding:0 50px;
}
.application-center .center-content .menu ul li a img{
    width:278px;
}
.application-center .center-content .menu ul li a p{
    margin-top:20px;
}
/* ====== 开放式视频创收应用 ====== */
.partners-revenue .revenue-top p{
    color:#999;
    margin-top:15px;
}
.partners-revenue .revenue-top p svg{
    width:20px;
    height:12px;
}
.partners-revenue .revenue-top .more-wrap{
    margin:55px 0 20px;
}
.partners-revenue ul.revenue-content li .number{
    font-size: 22px ;
    font-weight: bold;
    color:#333;
    margin-bottom: 20px;

}
.partners-revenue .container .revenue-top .more-wrap .add{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #93E0F9;
    border-radius: 50%;
    background: #29DBB3;
}
.partners-revenue ul.revenue-content li .number h4{
    font-size: 36px ;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.partners-server{
    margin:100px 0;
}
.partners-server .server-top h4{
    font-size: 20px;
    color:#444;


}
.partners-server .server-top p{
    color:#888;
}
.partners-server .server-content{
    overflow: hidden;
}
/*============案例========*/
.cases{
    background-image:linear-gradient(to top,#ededed,#fff);
}
.cases .cases-top .text{
    padding:0 60px;
}
.cases .cases-top .text .tab-content{
    overflow:hidden;
    position: relative;
    color:#666;

}
.cases .cases-top .text .tab-content h4{
    font-size:20px;
    padding-bottom: 20px;
}
.cases .cases-top .text .tab-content .tab-pane{
    padding:50px 80px 60px 0;
    position: absolute;
    top:0;
}

.cases .cases-top .picture .bgc{

    width:430px;
    height:215px;
    background-image: linear-gradient(to right,#E3E3E3,#C8C8C8);
    border-radius: 25px;
}
.cases .cases-top .picture img{
    position: absolute;top:0;
    left:-45px;
    /* background: red url('../images/Phone.png') no-repeat center/430px 215px;*/
}
.cases .cases-top .picture ul{
    position: absolute;
    top:0px;
}
.cases .cases-top .picture ul li{
    position: absolute;
    top:33px;
    left:90px;
}
.cases .cases-top .picture ul li img{
    width:300px;
}
.cases .cases-content{
    padding:40px;
}
.cases .cases-content .nav-tabs{
    border:none;
}
.cases .cases-content .nav-tabs .nav-link{
    border:none;
    padding:6px 0;
    margin:0 1%;
}
.cases .cases-content .nav-tabs .nav-link.active{
    border-bottom: 1px solid #50E3C2;
}
.cases .cases-content  a.btn-light{
    width:103px;
    font-size: 12px;
    display: block;
    line-height:26px;
    border-radius:44px;
    /*color:#fff;*/
}
.cases .cases-content  a.btn-light:hover{
    /*color:#fff;*/
}
/*============= Video++ 正在创造的 ===========*/
.product{
    background-color:#F8F8F8;
}
.product .marker{
    padding:100px 0;
    color:#555;
}
.product .marker ul{
    padding:65px 0 60px;
}
.product .marker ul li{
    padding:;
}
.product .marker ul li a{
    display: block;
    padding:15px 0;
    color:#555;
    border-radius:5px;
    background-color: rgba(255,255,255,0.8);
}
.product .marker ul li a:hover{
    text-decoration: none;
    box-shadow:0 0 25px -1px rgba(103,118,182,.5);
}

/*==========加入我们===========*/

.join{
    height:475px;
    overflow: hidden;

}
.join video{
    left:50%;
    top:50%;
    margin-top:-540px;
    margin-left:-960px;
}
.join .marker .wrap{
    position: relative;
    z-index: 99;
    color:#555;
    width:530px;
    margin:100px auto;
    background-color:rgba(255,255,255,.5);
    padding:40px 90px;
}
.join .marker .wrap ol{
    padding-bottom:25px;
    border-color:#999 !important;

}

.join .marker .wrap ul li a svg{
    width:60px;
    height:60px;
}
.join .marker .wrap ul li:nth-child(1) a svg{
    fill:#16D2AD
}
.join .marker .wrap ul li:nth-child(2) a svg{
    fill:#34B187
}
.join .marker .wrap ul li:nth-child(3) a svg{
    fill:#38A7D8
}
.join .marker .wrap ul li:nth-child(4) a svg{
    fill:#7170D2;
}
/* ============= 合作模式 =============*/
.cooperation{
    padding:45px 0;
    background-color: #f8f8f8;
}
.cooperation ul li svg{
    width:45px;
    height:45px;
    fill:#e8e8e8;
}

.cooperation ul li h5{
    margin:25px 0 20px;
}
.cooperation ul li p{
    color:#666;
    margin-bottom: 1.2rem;
}

.customer{
    margin:53px 0;
}

.customer .list-group ul li dl dt{
    font-size:1rem;
    color:#4A4A4A;
    margin-bottom:19px;
}
.customer .list-group ul li dl dd a{
    font-size:0.95rem;
    color:rgb(127, 130, 135);
}
.customer .list-group ul li dl dd a:hover{
    text-decoration: none;
}
.customer .list-group ul li dl dd a svg{
    width:14px;
    height:14px;
    fill:#06cfa7;
}
/* ======== 版权 =====*/
.copyright{
    background-color: #727272;
    color:#fff;
    padding:30px 0;
}
.copyright .parters{

}
.copyright .parters dl{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}
.copyright .parters dl dd{
    padding:10px 0 0;
}
.copyright .parters dl dd a{
    color:#fff;
    transition:0.5s;

}
.copyright .parters dl dd a:hover{
    text-decoration: none;
    color:#bbb;
}
.copyright .footer p a{
    color:#bbb;
}
.copyright .footer p a:hover{
    text-decoration: none;
    color:#fff;
}
.copyright .footer > a{
    text-decoration: none;
    color:#fff;
}
.svg-icon-box{
    display: none;
}


















